In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
df=pd.read_csv("/content/cinema_ticket_sales_uncleaned.csv")
df

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
0,ORD109720,CUST6419,Priya Singh,priya395@example.com,12345,Love & Pixels,PVR Phoenix,Delhi,2020-09-10,13:45,...,NaN,2.0,NaN,Agent A,NaN,BKG44801,Screen 1,Family,NEW50,0.0
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",NaN,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
2,ORD107578,CUST4789,NaN,user503@example.com,+918304115560,Final Alarm,Inox Mall,Ahmedabad,2025-06-16,23:30,...,"A2,A27",-1.0,VIP guest,Agent B,False,BKG88708,Screen 3,Single,NaN,50.0
3,ORD107065,CUST18879,Sangeetha K,sangeetha366@example.com,98765 43210,Ocean's Whisper,Inox Mall,Mumbai,2023-11-26,13:45,...,"C3,C11,B22,C10",6.0,Cancelled,Agent A,True,BKG34048,Screen 3,NaN,NEW50,100.0
4,ORD104211,CUST43989,John Doe,john861@example.com,98765 43210,Ocean's Whisper,Grand Theatre,Bengaluru,2023-04-16,20:30,...,NaN,4.0,Late arrival,Agent B,True,BKG15632,Screen 1,Family,save10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,ORD102895,CUST94041,NaN,user644@example.com,12345,House of Tricks,Cinepolis Plaza,Hyderabad,2019-10-11,16:45,...,NaN,-1.0,Cancelled,Agent A,True,BKG96206,Screen 3,Family,FREESNACK,50.0
10046,ORD107813,CUST95746,Sangeetha K,sangeetha338@example.com,NaN,The Last Frontier,PVR Phoenix,NaN,2021-12-27,11:15,...,"B17,C6,A1,A17",4.0,VIP guest,NaN,False,BKG95160,Screen 3,Single,FREESNACK,0.0
10047,ORD100905,CUST73941,Sangeetha K,sangeetha149@example.com,12345,The Silent Echo,Inox Mall,Mumbai,2022-09-18,19:00,...,NaN,1.0,Late arrival,Agent B,NaN,BKG57004,Screen 3,NaN,NaN,50.0
10048,ORD105192,CUST97566,Priya Singh,priya470@example.com,98765 43210,Midnight Sonata,Inox Mall,NaN,2025-03-22,16:45,...,"A22,A28,B6,A18",NaN,Late arrival,Agent A,True,BKG93772,Screen 1,Single,NEW50,50.0
10049,ORD100235,CUST30423,NaN,user969@example.com,12345,House of Tricks,NaN,Ahmedabad,2023-04-14,11:45,...,NaN,5.0,VIP guest,Agent B,True,BKG42547,Screen 3,NaN,NEW50,NaN

## Data Exploring

In [ ]:
df.shape

(10050, 29)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10050 entries, 0 to 10049
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         10050 non-null  object
 1   Customer_ID      10050 non-null  object
 2   Customer_Name    7196 non-null   object
 3   Email            9411 non-null   object
 4   Phone            7598 non-null   object
 5   Movie_Title      9190 non-null   object
 6   Theatre          8370 non-null   object
 7   City             8949 non-null   object
 8   Show_Date        10050 non-null  object
 9   Show_Time        10050 non-null  object
 10  Booking_Date     10050 non-null  object
 11  Seat_Type        8602 non-null   object
 12  Quantity         8631 non-null   float64
 13  Price            9856 non-null   float64
 14  Discount         8792 non-null   float64
 15  Total_Amount     6091 non-null   float64
 16  Payment_Mode     8581 non-null   object
 17  Payment_Status   7512 non-null   object
 18  Booking_Channel  8406 non-null   object
 19  Seat_Numbers     5726 non-null   object
 20  Feedback_Score   8763 non-null   float64
 21  Remarks          6022 non-null   object
 22  Sales_Agent      7582 non-null   object
 23  Is_Refunded      8032 non-null   object
 24  Booking_ID       10050 non-null  object
 25  Screen           7484 non-null   object
 26  Ticket_Type      7500 non-null   object
 27  Promo_Code       7527 non-null   object
 28  Loyalty_Points   8344 non-null   float64
dtypes: float64(6), object(23)
memory usage: 2.2+ MB

In [ ]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Email', 'Phone',
       'Movie_Title', 'Theatre', 'City', 'Show_Date', 'Show_Time',
       'Booking_Date', 'Seat_Type', 'Quantity', 'Price', 'Discount',
       'Total_Amount', 'Payment_Mode', 'Payment_Status', 'Booking_Channel',
       'Seat_Numbers', 'Feedback_Score', 'Remarks', 'Sales_Agent',
       'Is_Refunded', 'Booking_ID', 'Screen', 'Ticket_Type', 'Promo_Code',
       'Loyalty_Points'],
      dtype='object')

Identifing & removeing duplicate in Order_ID

In [ ]:
df['Order_ID'].duplicated().sum()

np.int64(94)

In [ ]:
df=df.drop_duplicates(subset='Order_ID',keep='first')

In [ ]:
df['Order_ID'].duplicated().sum()

np.int64(0)

Removeing duplicate in customers (Customer_ID + Email)

In [ ]:
df.duplicated(subset=['Customer_ID', 'Email']).sum()

np.int64(2)

In [ ]:
df=df.drop_duplicates(subset='Customer_ID',keep='first')

In [ ]:
df=df.drop_duplicates(subset='Email',keep='first')

In [ ]:
df.duplicated(subset=['Customer_ID', 'Email']).sum()

np.int64(0)

Removeing duplicate in bookings (Booking_ID)

In [ ]:
df.duplicated(subset=['Booking_ID']).sum()

np.int64(109)

In [ ]:
df=df.drop_duplicates(subset='Booking_ID',keep='first')

In [ ]:
df.duplicated(subset=['Booking_ID']).sum()

np.int64(0)

Filling missing Customer_Name with "Unknown"

In [ ]:
df['Customer_Name'] = df['Customer_Name'].fillna('Unknown')

Filling missing Movie_Title with "Untitled"

In [ ]:
df['Movie_Title']=df['Movie_Title'].fillna('Untitled')

Filling missing Email with "noemail@example.com"

In [ ]:
df['Email']=df['Email'].fillna('noemail@example.com')

Filling missing Theater with "Not assigned"

In [ ]:
df['Theatre']=df['Theatre'].fillna('Not assigned')

Filling missing city with "Unknown"

In [ ]:
df['City']=df['City'].fillna('Unknown')

Filling missing Seat Type with "Regular"

In [ ]:
df['Seat_Type']=df['Seat_Type'].fillna('Regular')

Filling missing Feedback Score with median value

In [ ]:
df['Feedback_Score']=df['Feedback_Score'].fillna(df['Feedback_Score'].median())

Checking and Removing invalid prices

In [ ]:
(df['Price'] <= 0).sum()

np.int64(154)

In [ ]:
df=df[df['Price']>0]

In [ ]:
(df['Price'] <= 0).sum()

np.int64(0)

Removeing rows where Quantity ≤ 0

In [ ]:
df=df[df['Quantity']>0]

Removeing rows where Total_Amount ≤ 0

In [ ]:
df=df[df['Total_Amount']>0]

Identifying & fixing invalid Emails (missing “@”)

In [ ]:
invalid_emails = ~df['Email'].str.contains('@', na=False)
invalid_emails.sum()
df.loc[invalid_emails, 'Email'] = 'noemail@example.com'

Removeing rows where Booking_Date > Show_Date and Converting Format

In [ ]:
df['Booking_Date'] = pd.to_datetime(df['Booking_Date'], errors='coerce')
df['Show_Date'] = pd.to_datetime(df['Show_Date'], errors='coerce')

In [ ]:
df=df[df['Booking_Date']<=df['Show_Date']]

Fixing typos

In [ ]:
df['Payment_Mode']=df['Payment_Mode'].replace({'Cahs':'Cash','card':'Card'})

In [ ]:
df['Seat_Type']=df['Seat_Type'].replace({'Reguler':'Regular','premium':'Premium'})

In [ ]:
df['Payment_Status']=df['Payment_Status'].str.capitalize()

Removeing rows where Feedback_Score < 1 or > 5

In [ ]:
df=df[df['Feedback_Score']>= 1]

In [ ]:
df=df[df['Feedback_Score']<= 5]

Removeing rows where Discount < 0 or > 100

In [ ]:
df=df[df['Discount']>=0]

In [ ]:
df=df[df['Discount']<= 100]

In [ ]:
df.describe()
df.shape

(1377, 29)

Conditional Filtering

Bookings where Total_Amount > 1000

In [ ]:
c1 = df[df['Total_Amount'] > 1000]
c1

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",3.0,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,"A16,C30",4.0,Cancelled,Agent B,True,BKG52107,NaN,NaN,save10,0.0
9,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,"C13,C8,A26",3.0,NaN,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN
10,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,"A8,B3",2.0,VIP guest,NaN,False,BKG85139,Screen 3,Family,NEW50,0.0
13,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not assigned,Chennai,2019-06-13,14:30,...,B4,2.0,NaN,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9912,ORD108147,CUST2442,Ravi Kumar,ravi679@example.com,NaN,Love & Pixels,Cinepolis Plaza,Unknown,2025-04-03,22:00,...,"A11,A9",1.0,NaN,Agent C,NaN,BKG95176,NaN,Single,NaN,10.0
9914,ORD109921,CUST21968,John Doe,john643@example.com,12345,Space Riders,Cinepolis Plaza,Delhi,2022-12-04,11:30,...,"B14,A7,C30,A21",2.0,Cancelled,Agent A,True,BKG40399,NaN,Single,NEW50,0.0
9940,ORD104979,CUST66325,John Doe,john255@example.com,+919803315121,Midnight Sonata,Regal Cinema,Chennai,2023-01-02,21:45,...,"C14,C24",1.0,NaN,Agent B,False,BKG23081,Screen 2,Single,FREESNACK,0.0
10037,ORD105374,CUST7922,John Doe,noemail@example.com,NaN,Final Alarm,Not assigned,Hyderabad,2023-06-19,10:30,...,"B23,B12",4.0,Cancelled,Agent A,False,BKG11085,NaN,NaN,FREESNACK,50.0
10042,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,"B22,A5",1.0,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0

Bookings where Feedback_Score < 3

In [ ]:
c2 = df[df['Feedback_Score'] < 3]
c2

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
10,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,"A8,B3",2.0,VIP guest,NaN,False,BKG85139,Screen 3,Family,NEW50,0.0
13,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not assigned,Chennai,2019-06-13,14:30,...,B4,2.0,NaN,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0
14,ORD102250,CUST49550,Priya Singh,priya918@example.com,98765 43210,Ocean's Whisper,Not assigned,Ahmedabad,2019-12-05,15:00,...,"A22,A23,C21,C14",2.0,NaN,NaN,True,BKG46570,Screen 2,Single,NaN,100.0
35,ORD107466,CUST66563,Priya Singh,priya403@example.com,12345,The Last Frontier,Not assigned,Bengaluru,2020-01-28,15:30,...,"C21,C13,C18,B24",1.0,NaN,NaN,True,BKG42830,Screen 3,Combo,NaN,0.0
44,ORD107056,CUST91503,Priya Singh,priya961@example.com,98765 43210,Midnight Sonata,Inox Mall,Hyderabad,2023-03-09,18:15,...,A27,1.0,NaN,Agent A,True,BKG12973,Screen 3,NaN,NaN,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9912,ORD108147,CUST2442,Ravi Kumar,ravi679@example.com,NaN,Love & Pixels,Cinepolis Plaza,Unknown,2025-04-03,22:00,...,"A11,A9",1.0,NaN,Agent C,NaN,BKG95176,NaN,Single,NaN,10.0
9914,ORD109921,CUST21968,John Doe,john643@example.com,12345,Space Riders,Cinepolis Plaza,Delhi,2022-12-04,11:30,...,"B14,A7,C30,A21",2.0,Cancelled,Agent A,True,BKG40399,NaN,Single,NEW50,0.0
9940,ORD104979,CUST66325,John Doe,john255@example.com,+919803315121,Midnight Sonata,Regal Cinema,Chennai,2023-01-02,21:45,...,"C14,C24",1.0,NaN,Agent B,False,BKG23081,Screen 2,Single,FREESNACK,0.0
9970,ORD105373,CUST47391,Priya Singh,priya602@example.com,98765 43210,The Last Frontier,PVR Phoenix,Hyderabad,2025-10-18,15:45,...,"B9,C15",2.0,Late arrival,Agent A,False,BKG13850,NaN,Family,FREESNACK,NaN
10042,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,"B22,A5",1.0,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0

Bookings where Payment_Status = "Pending"

In [ ]:
c3 = df[df['Payment_Status'] == 'Pending']
c3

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,"A16,C30",4.0,Cancelled,Agent B,True,BKG52107,NaN,NaN,save10,0.0
13,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not assigned,Chennai,2019-06-13,14:30,...,B4,2.0,NaN,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0
39,ORD104512,CUST91940,Ravi Kumar,ravi30@example.com,98765 43210,Love & Pixels,Inox Mall,Ahmedabad,2019-09-18,10:15,...,"C12,B26",4.0,NaN,Agent B,NaN,BKG72021,Screen 3,Family,NaN,NaN
40,ORD108755,CUST94845,Unknown,user2@example.com,+917761425037,The Silent Echo,Grand Theatre,Ahmedabad,2024-04-09,11:15,...,"B3,C16,C8",5.0,Cancelled,Agent B,True,BKG79590,NaN,NaN,NEW50,NaN
77,ORD106896,CUST67784,Amit Sharma,noemail@example.com,12345,Love & Pixels,Regal Cinema,Ahmedabad,2022-10-09,10:00,...,"A5,C18",4.0,Cancelled,Agent A,NaN,BKG79279,Screen 3,Family,save10,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9904,ORD101741,CUST65408,Ravi Kumar,noemail@example.com,12345,Broken Strings,Not assigned,Delhi,2022-05-10,23:30,...,B28,4.0,Cancelled,Agent A,False,BKG61648,NaN,Single,NEW50,100.0
9907,ORD107796,CUST59866,Ravi Kumar,ravi714@example.com,98765 43210,Midnight Sonata,Cinepolis Plaza,Mumbai,2024-09-16,15:45,...,A23,2.0,NaN,Agent A,False,BKG28865,NaN,Single,FREESNACK,100.0
9908,ORD102189,CUST34052,Amit Sharma,amit202@example.com,98765 43210,Space Riders,Inox Mall,Mumbai,2023-07-29,13:45,...,"A19,C10,C3,C28",1.0,Late arrival,Agent B,True,BKG76968,Screen 1,Combo,save10,10.0
9914,ORD109921,CUST21968,John Doe,john643@example.com,12345,Space Riders,Cinepolis Plaza,Delhi,2022-12-04,11:30,...,"B14,A7,C30,A21",2.0,Cancelled,Agent A,True,BKG40399,NaN,Single,NEW50,0.0
9981,ORD104039,CUST83920,Unknown,user133@example.com,+916106815526,Hidden Truths,Grand Theatre,Ahmedabad,2021-10-17,21:45,...,"C20,A27,B30,C7",3.0,NaN,Agent A,NaN,BKG55416,NaN,Combo,FREESNACK,0.0

Bookings made through Online channel

In [ ]:
c4 = df[df['Booking_Channel'] == 'Online']
c4

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
70,ORD105581,CUST87794,Priya Singh,priya541@example.com,12345,Midnight Sonata,Grand Theatre,Pune,2022-01-09,23:00,...,C30,3.0,VIP guest,NaN,True,BKG87545,NaN,Family,save10,200.0
72,ORD104673,CUST54253,Unknown,user520@example.com,NaN,House of Tricks,Not assigned,Chennai,2022-01-24,18:30,...,"C26,A27,C19",3.0,Cancelled,Agent B,True,BKG16705,Screen 3,NaN,NaN,NaN
81,ORD105488,CUST59351,John Doe,john373@example.com,12345,House of Tricks,Grand Theatre,Kolkata,2019-02-06,10:45,...,"B5,B20",3.0,NaN,Agent B,NaN,BKG78584,NaN,Family,save10,0.0
82,ORD108979,CUST42541,John Doe,john285@example.com,NaN,Broken Strings,PVR Phoenix,Kolkata,2024-09-12,18:00,...,A20,4.0,NaN,NaN,False,BKG75351,Screen 3,Combo,NEW50,NaN
100,ORD106672,CUST79553,Amit Sharma,amit421@example.com,12345,Midnight Sonata,Grand Theatre,Chennai,2024-07-25,9:00,...,"C20,B4,C18,B28",3.0,Late arrival,Agent A,True,BKG19582,Screen 2,NaN,FREESNACK,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9819,ORD103452,CUST83062,John Doe,noemail@example.com,+917806454096,House of Tricks,Regal Cinema,Ahmedabad,2021-10-01,11:15,...,"C28,C12",2.0,Late arrival,Agent C,True,BKG70082,Screen 2,Combo,NaN,10.0
9854,ORD104196,CUST88568,Ravi Kumar,ravi791@example.com,12345,Hidden Truths,Not assigned,Bengaluru,2019-01-28,19:45,...,"A21,B8",4.0,Late arrival,NaN,NaN,BKG75889,NaN,Family,save10,NaN
9914,ORD109921,CUST21968,John Doe,john643@example.com,12345,Space Riders,Cinepolis Plaza,Delhi,2022-12-04,11:30,...,"B14,A7,C30,A21",2.0,Cancelled,Agent A,True,BKG40399,NaN,Single,NEW50,0.0
9940,ORD104979,CUST66325,John Doe,john255@example.com,+919803315121,Midnight Sonata,Regal Cinema,Chennai,2023-01-02,21:45,...,"C14,C24",1.0,NaN,Agent B,False,BKG23081,Screen 2,Single,FREESNACK,0.0
10037,ORD105374,CUST7922,John Doe,noemail@example.com,NaN,Final Alarm,Not assigned,Hyderabad,2023-06-19,10:30,...,"B23,B12",4.0,Cancelled,Agent A,False,BKG11085,NaN,NaN,FREESNACK,50.0

VIP customers

In [ ]:
c5 = df[df['Seat_Type'] == 'VIP']
c5

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
9,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,"C13,C8,A26",3.0,NaN,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN
39,ORD104512,CUST91940,Ravi Kumar,ravi30@example.com,98765 43210,Love & Pixels,Inox Mall,Ahmedabad,2019-09-18,10:15,...,"C12,B26",4.0,NaN,Agent B,NaN,BKG72021,Screen 3,Family,NaN,NaN
53,ORD109447,CUST82742,Ravi Kumar,ravi492@example.com,12345,Space Riders,Not assigned,Kolkata,2023-03-06,9:45,...,"C4,C3,B30",2.0,Late arrival,Agent C,NaN,BKG16956,NaN,Single,NaN,0.0
70,ORD105581,CUST87794,Priya Singh,priya541@example.com,12345,Midnight Sonata,Grand Theatre,Pune,2022-01-09,23:00,...,C30,3.0,VIP guest,NaN,True,BKG87545,NaN,Family,save10,200.0
86,ORD103431,CUST48826,Priya Singh,priya354@example.com,98765 43210,Space Riders,Regal Cinema,Mumbai,2024-08-13,16:15,...,"C13,A11,C30,C6",3.0,NaN,NaN,True,BKG36287,Screen 3,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9272,ORD107333,CUST32392,Ravi Kumar,ravi332@example.com,98765 43210,The Last Frontier,Regal Cinema,Unknown,2020-11-12,16:45,...,"C25,B5",2.0,Cancelled,Agent B,False,BKG85728,Screen 1,NaN,NaN,50.0
9301,ORD109033,CUST84149,Priya Singh,priya881@example.com,+919823828110,Hidden Truths,Cinepolis Plaza,Unknown,2022-08-06,13:30,...,C9,4.0,VIP guest,Agent B,False,BKG31777,NaN,Combo,FREESNACK,NaN
9819,ORD103452,CUST83062,John Doe,noemail@example.com,+917806454096,House of Tricks,Regal Cinema,Ahmedabad,2021-10-01,11:15,...,"C28,C12",2.0,Late arrival,Agent C,True,BKG70082,Screen 2,Combo,NaN,10.0
9904,ORD101741,CUST65408,Ravi Kumar,noemail@example.com,12345,Broken Strings,Not assigned,Delhi,2022-05-10,23:30,...,B28,4.0,Cancelled,Agent A,False,BKG61648,NaN,Single,NEW50,100.0
9907,ORD107796,CUST59866,Ravi Kumar,ravi714@example.com,98765 43210,Midnight Sonata,Cinepolis Plaza,Mumbai,2024-09-16,15:45,...,A23,2.0,NaN,Agent A,False,BKG28865,NaN,Single,FREESNACK,100.0

Refunded transactions

In [ ]:
c6 = df[df['Is_Refunded'] == True]
c6

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,"A16,C30",4.0,Cancelled,Agent B,True,BKG52107,NaN,NaN,save10,0.0
9,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,"C13,C8,A26",3.0,NaN,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN
14,ORD102250,CUST49550,Priya Singh,priya918@example.com,98765 43210,Ocean's Whisper,Not assigned,Ahmedabad,2019-12-05,15:00,...,"A22,A23,C21,C14",2.0,NaN,NaN,True,BKG46570,Screen 2,Single,NaN,100.0
35,ORD107466,CUST66563,Priya Singh,priya403@example.com,12345,The Last Frontier,Not assigned,Bengaluru,2020-01-28,15:30,...,"C21,C13,C18,B24",1.0,NaN,NaN,True,BKG42830,Screen 3,Combo,NaN,0.0
38,ORD105795,CUST33016,Unknown,user18@example.com,+918799440699,Hidden Truths,Grand Theatre,Mumbai,2025-01-01,18:45,...,"B20,C4,A5,A9",4.0,NaN,Agent B,True,BKG35181,Screen 3,NaN,NEW50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9819,ORD103452,CUST83062,John Doe,noemail@example.com,+917806454096,House of Tricks,Regal Cinema,Ahmedabad,2021-10-01,11:15,...,"C28,C12",2.0,Late arrival,Agent C,True,BKG70082,Screen 2,Combo,NaN,10.0
9908,ORD102189,CUST34052,Amit Sharma,amit202@example.com,98765 43210,Space Riders,Inox Mall,Mumbai,2023-07-29,13:45,...,"A19,C10,C3,C28",1.0,Late arrival,Agent B,True,BKG76968,Screen 1,Combo,save10,10.0
9909,ORD105006,CUST54077,Ravi Kumar,ravi741@example.com,12345,Hidden Truths,Regal Cinema,Mumbai,2021-08-04,21:45,...,"B15,B29,A21,B27",3.0,NaN,Agent A,True,BKG62235,Screen 1,Single,NEW50,NaN
9914,ORD109921,CUST21968,John Doe,john643@example.com,12345,Space Riders,Cinepolis Plaza,Delhi,2022-12-04,11:30,...,"B14,A7,C30,A21",2.0,Cancelled,Agent A,True,BKG40399,NaN,Single,NEW50,0.0
9975,ORD105848,CUST81841,John Doe,john405@example.com,+919546051408,Midnight Sonata,Grand Theatre,Unknown,2023-10-10,14:15,...,"B23,A20,C9,A1",4.0,Late arrival,Agent A,True,BKG19297,NaN,Single,NaN,100.0

Bookings where Discount ≥ 50%

In [ ]:
c7 = df[df['Discount'] >= 50]
c7

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
7,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,"A16,C30",4.0,Cancelled,Agent B,True,BKG52107,NaN,NaN,save10,0.0
39,ORD104512,CUST91940,Ravi Kumar,ravi30@example.com,98765 43210,Love & Pixels,Inox Mall,Ahmedabad,2019-09-18,10:15,...,"C12,B26",4.0,NaN,Agent B,NaN,BKG72021,Screen 3,Family,NaN,NaN
43,ORD101410,CUST23672,Unknown,user723@example.com,NaN,Love & Pixels,Inox Mall,Pune,2024-11-24,17:45,...,"C24,B7,C3",5.0,Late arrival,Agent A,False,BKG60816,Screen 2,Family,save10,100.0
61,ORD106635,CUST23166,Amit Sharma,amit814@example.com,12345,Ocean's Whisper,Cinepolis Plaza,Delhi,2021-07-23,10:45,...,"B12,B25",4.0,VIP guest,Agent C,True,BKG28985,Screen 3,Combo,FREESNACK,NaN
104,ORD101961,CUST65790,John Doe,john958@example.com,+917613320164,Space Riders,Not assigned,Bengaluru,2021-11-12,9:00,...,"A21,A6",3.0,NaN,NaN,NaN,BKG97946,NaN,Family,save10,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9301,ORD109033,CUST84149,Priya Singh,priya881@example.com,+919823828110,Hidden Truths,Cinepolis Plaza,Unknown,2022-08-06,13:30,...,C9,4.0,VIP guest,Agent B,False,BKG31777,NaN,Combo,FREESNACK,NaN
9385,ORD103199,CUST96442,Priya Singh,priya393@example.com,98765 43210,Love & Pixels,Inox Mall,Hyderabad,2019-02-25,15:30,...,C3,3.0,NaN,Agent B,False,BKG54424,NaN,Single,NaN,NaN
9398,ORD103114,CUST90822,Sangeetha K,sangeetha774@example.com,NaN,Untitled,Regal Cinema,Pune,2025-09-28,15:00,...,"A15,C6,B26,C7",3.0,NaN,NaN,False,BKG23786,Screen 1,Combo,save10,50.0
9568,ORD109030,CUST41475,Sangeetha K,sangeetha50@example.com,NaN,Space Riders,PVR Phoenix,Ahmedabad,2022-07-27,10:15,...,"C5,B23",3.0,Cancelled,Agent B,False,BKG98426,Screen 3,Combo,FREESNACK,50.0
9904,ORD101741,CUST65408,Ravi Kumar,noemail@example.com,12345,Broken Strings,Not assigned,Delhi,2022-05-10,23:30,...,B28,4.0,Cancelled,Agent A,False,BKG61648,NaN,Single,NEW50,100.0

Bookings where Quantity > 4 (Group or Family Booking)

In [ ]:
c8 = df[df['Quantity'] > 4]
c8

Empty DataFrame
Columns: [Order_ID, Customer_ID, Customer_Name, Email, Phone, Movie_Title, Theatre, City, Show_Date, Show_Time, Booking_Date, Seat_Type, Quantity, Price, Discount, Total_Amount, Payment_Mode, Payment_Status, Booking_Channel, Seat_Numbers, Feedback_Score, Remarks, Sales_Agent, Is_Refunded, Booking_ID, Screen, Ticket_Type, Promo_Code, Loyalty_Points]
Index: []

[0 rows x 29 columns]

Bookings for movie "The Silent Echo"

In [ ]:
c9 = df[df['Movie_Title'] == 'The Silent Echo']
c9

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
40,ORD108755,CUST94845,Unknown,user2@example.com,+917761425037,The Silent Echo,Grand Theatre,Ahmedabad,2024-04-09,11:15,...,"B3,C16,C8",5.0,Cancelled,Agent B,True,BKG79590,NaN,NaN,NEW50,NaN
46,ORD101308,CUST43719,Ravi Kumar,ravi754@example.com,98765 43210,The Silent Echo,Not assigned,Mumbai,2024-04-27,17:00,...,"B9,C14",2.0,Late arrival,NaN,True,BKG93756,Screen 2,NaN,FREESNACK,NaN
124,ORD101572,CUST33690,Unknown,user571@example.com,NaN,The Silent Echo,Cinepolis Plaza,Mumbai,2020-07-03,12:30,...,C29,1.0,Late arrival,Agent B,False,BKG94524,NaN,Family,FREESNACK,100.0
162,ORD109697,CUST45844,Ravi Kumar,ravi387@example.com,98765 43210,The Silent Echo,Cinepolis Plaza,Mumbai,2020-10-20,17:45,...,"A8,B2",3.0,NaN,Agent C,False,BKG70766,Screen 1,NaN,NEW50,50.0
163,ORD106337,CUST50440,Unknown,user984@example.com,NaN,The Silent Echo,Not assigned,Hyderabad,2025-03-26,17:30,...,"C18,C1,B30,B28",4.0,VIP guest,Agent B,NaN,BKG33597,Screen 2,Single,FREESNACK,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8762,ORD103994,CUST72973,Priya Singh,priya84@example.com,+918509104788,The Silent Echo,Not assigned,Hyderabad,2021-12-29,13:00,...,"C4,B8,C8,B8",1.0,Late arrival,Agent B,NaN,BKG65671,NaN,Single,save10,10.0
9039,ORD106898,CUST29060,John Doe,john669@example.com,+917860886833,The Silent Echo,Cinepolis Plaza,Pune,2023-05-09,20:15,...,A20,1.0,Late arrival,Agent C,False,BKG41564,Screen 2,NaN,save10,NaN
9057,ORD105400,CUST5099,Amit Sharma,amit865@example.com,98765 43210,The Silent Echo,Cinepolis Plaza,Pune,2021-06-12,11:15,...,"B14,A29",1.0,VIP guest,Agent A,False,BKG74641,Screen 2,Family,NaN,0.0
9262,ORD100095,CUST32599,Sangeetha K,sangeetha73@example.com,12345,The Silent Echo,Inox Mall,Pune,2025-05-17,15:30,...,"B7,A30,A26,B17",5.0,NaN,NaN,False,BKG20803,Screen 2,Family,NEW50,10.0
10042,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,"B22,A5",1.0,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0

Customers from Chennai who watched "Space Riders"

In [ ]:
c10 = df[(df['City'] == 'Chennai') & (df['Movie_Title'] == 'Space Riders')]
c10

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
521,ORD106546,CUST81469,John Doe,john589@example.com,12345,Space Riders,Inox Mall,Chennai,2019-12-04,19:30,...,"C15,C20,A28,C24",5.0,VIP guest,Agent A,False,BKG31937,Screen 1,Single,NaN,50.0
1376,ORD103908,CUST82112,Priya Singh,priya580@example.com,NaN,Space Riders,PVR Phoenix,Chennai,2023-12-02,17:45,...,B8,3.0,NaN,Agent A,NaN,BKG45610,NaN,Family,NEW50,100.0
2636,ORD106235,CUST14114,Amit Sharma,amit836@example.com,NaN,Space Riders,Regal Cinema,Chennai,2022-10-23,11:30,...,"C26,A20,C27,A1",1.0,NaN,NaN,False,BKG69979,Screen 3,Combo,NaN,10.0
4243,ORD107996,CUST71820,Amit Sharma,amit832@example.com,+919008391716,Space Riders,Cinepolis Plaza,Chennai,2024-07-19,11:00,...,"A6,C14,A21,A15",1.0,VIP guest,Agent C,True,BKG66172,NaN,NaN,save10,200.0
4254,ORD108699,CUST23042,John Doe,john730@example.com,98765 43210,Space Riders,Regal Cinema,Chennai,2019-05-27,16:45,...,"C22,C29,A24,A5",2.0,Late arrival,NaN,False,BKG32931,Screen 2,NaN,save10,NaN
4480,ORD106667,CUST10270,John Doe,john325@example.com,NaN,Space Riders,Regal Cinema,Chennai,2023-10-16,10:30,...,"B25,B5,A16,C28",3.0,Cancelled,NaN,False,BKG21843,NaN,Single,NEW50,200.0
6194,ORD105149,CUST79525,Sangeetha K,sangeetha830@example.com,12345,Space Riders,Inox Mall,Chennai,2021-01-01,21:30,...,"C12,B7,A14",5.0,NaN,Agent C,True,BKG16303,Screen 1,NaN,FREESNACK,100.0
7455,ORD104005,CUST42021,Amit Sharma,amit639@example.com,12345,Space Riders,Inox Mall,Chennai,2023-10-03,23:00,...,"A14,C24",3.0,Late arrival,Agent A,True,BKG31392,Screen 1,Combo,save10,10.0
8394,ORD102329,CUST25380,Unknown,user241@example.com,98765 43210,Space Riders,Regal Cinema,Chennai,2024-12-02,15:00,...,"C4,B17,A1,B5",5.0,VIP guest,Agent A,False,BKG94320,Screen 2,Family,NaN,0.0

Counting Results

In [ ]:
len(c1), len(c2), len(c3), len(c4),len(c5), len(c6), len(c7), len(c8),len(c9), len(c10)

(840, 436, 343, 248, 187, 509, 218, 0, 119, 9)

Merge / Join Operations

Created a customer data tabel and merged with Customer_ID

In [ ]:
customers = df[['Customer_ID', 'Customer_Name', 'Email', 'Phone']].drop_duplicates()
d1 = pd.merge(df, customers, on='Customer_ID', how='left')
d1

,Order_ID,Customer_ID,Customer_Name_x,Email_x,Phone_x,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points,Customer_Name_y,Email_y,Phone_y
0,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,NaN,False,BKG91309,NaN,Family,save10,200.0,Ravi Kumar,ravi606@example.com,NaN
1,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,Agent B,True,BKG52107,NaN,NaN,save10,0.0,Amit Sharma,amit4@example.com,NaN
2,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN,Ravi Kumar,ravi261@example.com,+919559780800
3,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,NaN,False,BKG85139,Screen 3,Family,NEW50,0.0,John Doe,john630@example.com,+918220598141
4,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not assigned,Chennai,2019-06-13,14:30,...,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0,Unknown,user115@example.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,ORD105373,CUST47391,Priya Singh,priya602@example.com,98765 43210,The Last Frontier,PVR Phoenix,Hyderabad,2025-10-18,15:45,...,Agent A,False,BKG13850,NaN,Family,FREESNACK,NaN,Priya Singh,priya602@example.com,98765 43210
1373,ORD105848,CUST81841,John Doe,john405@example.com,+919546051408,Midnight Sonata,Grand Theatre,Unknown,2023-10-10,14:15,...,Agent A,True,BKG19297,NaN,Single,NaN,100.0,John Doe,john405@example.com,+919546051408
1374,ORD104039,CUST83920,Unknown,user133@example.com,+916106815526,Hidden Truths,Grand Theatre,Ahmedabad,2021-10-17,21:45,...,Agent A,NaN,BKG55416,NaN,Combo,FREESNACK,0.0,Unknown,user133@example.com,+916106815526
1375,ORD105374,CUST7922,John Doe,noemail@example.com,NaN,Final Alarm,Not assigned,Hyderabad,2023-06-19,10:30,...,Agent A,False,BKG11085,NaN,NaN,FREESNACK,50.0,John Doe,noemail@example.com,NaN
1376,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,Ravi Kumar,noemail@example.com,12345

Created a Movie details tabel and merged with Movie_Title

In [ ]:
movies = df[['Movie_Title']].drop_duplicates()
d2 = pd.merge(df, movies, on='Movie_Title', how='left')
d2

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Seat_Numbers,Feedback_Score,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points
0,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,"C20,B12,A1",3.0,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0
1,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,"A16,C30",4.0,Cancelled,Agent B,True,BKG52107,NaN,NaN,save10,0.0
2,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,"C13,C8,A26",3.0,NaN,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN
3,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,"A8,B3",2.0,VIP guest,NaN,False,BKG85139,Screen 3,Family,NEW50,0.0
4,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not assigned,Chennai,2019-06-13,14:30,...,B4,2.0,NaN,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,ORD105373,CUST47391,Priya Singh,priya602@example.com,98765 43210,The Last Frontier,PVR Phoenix,Hyderabad,2025-10-18,15:45,...,"B9,C15",2.0,Late arrival,Agent A,False,BKG13850,NaN,Family,FREESNACK,NaN
1373,ORD105848,CUST81841,John Doe,john405@example.com,+919546051408,Midnight Sonata,Grand Theatre,Unknown,2023-10-10,14:15,...,"B23,A20,C9,A1",4.0,Late arrival,Agent A,True,BKG19297,NaN,Single,NaN,100.0
1374,ORD104039,CUST83920,Unknown,user133@example.com,+916106815526,Hidden Truths,Grand Theatre,Ahmedabad,2021-10-17,21:45,...,"C20,A27,B30,C7",3.0,NaN,Agent A,NaN,BKG55416,NaN,Combo,FREESNACK,0.0
1375,ORD105374,CUST7922,John Doe,noemail@example.com,NaN,Final Alarm,Not assigned,Hyderabad,2023-06-19,10:30,...,"B23,B12",4.0,Cancelled,Agent A,False,BKG11085,NaN,NaN,FREESNACK,50.0
1376,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,"B22,A5",1.0,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0

Created a Theater tabel and merged with Theater

In [ ]:
theatres = df[['Theatre', 'City', 'Screen']].drop_duplicates()
d3 = pd.merge(df, theatres, on='Theatre', how='left')
d3

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City_x,Show_Date,Show_Time,...,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen_x,Ticket_Type,Promo_Code,Loyalty_Points,City_y,Screen_y
0,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0,Kolkata,NaN
1,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0,Mumbai,NaN
2,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0,Bengaluru,Screen 2
3,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0,Mumbai,Screen 3
4,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0,Ahmedabad,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49353,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,Mumbai,NaN
49354,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,Chennai,NaN
49355,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,Kolkata,Screen 1
49356,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,Kolkata,Screen 3
49357,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,Unknown,Screen 2

Combineing Show_Date + Show_Time into one datetime column

In [ ]:
df['Show_DateTime'] = pd.to_datetime(
    df['Show_Date'].astype(str) + ' ' + df['Show_Time'].astype(str),
    errors='coerce'
)

Total sales per movie

In [ ]:
d5 = df.groupby('Movie_Title')['Total_Amount'].sum().reset_index()
d5

          Movie_Title  Total_Amount
0      Broken Strings     215054.93
1         Final Alarm     191422.41
2       Hidden Truths     227408.71
3     House of Tricks     191861.99
4       Love & Pixels     189058.91
5     Midnight Sonata     213893.40
6     Ocean's Whisper     209690.74
7        Space Riders     194915.08
8   The Last Frontier     224703.10
9     The Silent Echo     222583.36
10           Untitled     224412.09

Total tickets sold per theatre

In [ ]:
d6 = df.groupby('Theatre')['Quantity'].sum().reset_index()
d6

           Theatre  Quantity
0  Cinepolis Plaza     523.0
1    Grand Theatre     568.0
2        Inox Mall     603.0
3     Not assigned     539.0
4      PVR Phoenix     607.0
5     Regal Cinema     614.0

Finding customers who booked multiple movies

In [ ]:
d7 = df.groupby('Customer_ID')['Movie_Title'].nunique().reset_index()
d7 = d7[d7['Movie_Title'] > 1]
d7

Empty DataFrame
Columns: [Customer_ID, Movie_Title]
Index: []

Identifying movies that were never booked

In [ ]:
all_movies = df['Movie_Title']
booked_movies = df['Movie_Title']
d8 = all_movies[~all_movies.isin(booked_movies)]
d8

Series([], Name: Movie_Title, dtype: object)

Identifying theatres with missing city info

In [ ]:
d9 = df[df['City'].isna()]
d9

Empty DataFrame
Columns: [Order_ID, Customer_ID, Customer_Name, Email, Phone, Movie_Title, Theatre, City, Show_Date, Show_Time, Booking_Date, Seat_Type, Quantity, Price, Discount, Total_Amount, Payment_Mode, Payment_Status, Booking_Channel, Seat_Numbers, Feedback_Score, Remarks, Sales_Agent, Is_Refunded, Booking_ID, Screen, Ticket_Type, Promo_Code, Loyalty_Points, Show_DateTime]
Index: []

[0 rows x 30 columns]

Created a Agent tabel and merged with Sales_Agent

In [ ]:
agents = df[['Sales_Agent']].drop_duplicates()
agents['Agent_Rating'] = 'Average'   # dummy column
d10 = pd.merge(df, agents, on='Sales_Agent', how='left')
d10

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Remarks,Sales_Agent,Is_Refunded,Booking_ID,Screen,Ticket_Type,Promo_Code,Loyalty_Points,Show_DateTime,Agent_Rating
0,ORD107869,CUST29808,Ravi Kumar,ravi606@example.com,NaN,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,VIP guest,NaN,False,BKG91309,NaN,Family,save10,200.0,2021-01-21 16:00:00,Average
1,ORD101540,CUST50278,Amit Sharma,amit4@example.com,NaN,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,Cancelled,Agent B,True,BKG52107,NaN,NaN,save10,0.0,2023-05-26 12:15:00,Average
2,ORD105390,CUST40046,Ravi Kumar,ravi261@example.com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,NaN,Agent A,True,BKG87669,Screen 2,Family,NEW50,NaN,2019-05-18 12:30:00,Average
3,ORD103057,CUST60658,John Doe,john630@example.com,+918220598141,Ocean's Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,VIP guest,NaN,False,BKG85139,Screen 3,Family,NEW50,0.0,2022-05-30 22:45:00,Average
4,ORD104148,CUST92060,Unknown,user115@example.com,NaN,House of Tricks,Not assigned,Chennai,2019-06-13,14:30,...,NaN,Agent A,False,BKG71656,Screen 1,Family,NEW50,0.0,2019-06-13 14:30:00,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,ORD105373,CUST47391,Priya Singh,priya602@example.com,98765 43210,The Last Frontier,PVR Phoenix,Hyderabad,2025-10-18,15:45,...,Late arrival,Agent A,False,BKG13850,NaN,Family,FREESNACK,NaN,2025-10-18 15:45:00,Average
1373,ORD105848,CUST81841,John Doe,john405@example.com,+919546051408,Midnight Sonata,Grand Theatre,Unknown,2023-10-10,14:15,...,Late arrival,Agent A,True,BKG19297,NaN,Single,NaN,100.0,2023-10-10 14:15:00,Average
1374,ORD104039,CUST83920,Unknown,user133@example.com,+916106815526,Hidden Truths,Grand Theatre,Ahmedabad,2021-10-17,21:45,...,NaN,Agent A,NaN,BKG55416,NaN,Combo,FREESNACK,0.0,2021-10-17 21:45:00,Average
1375,ORD105374,CUST7922,John Doe,noemail@example.com,NaN,Final Alarm,Not assigned,Hyderabad,2023-06-19,10:30,...,Cancelled,Agent A,False,BKG11085,NaN,NaN,FREESNACK,50.0,2023-06-19 10:30:00,Average
1376,ORD104225,CUST58196,Ravi Kumar,noemail@example.com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,Cancelled,Agent A,NaN,BKG21670,NaN,Family,FREESNACK,0.0,2023-11-18 15:00:00,Average

Calculated Columns / Transformations(creating new columns)

Added Net_Amount

In [ ]:
df['Net_Amount'] = df['Price'] * df['Quantity'] * (1 - df['Discount'] / 100)

Added Booking_Lag

In [ ]:
df['Show_Date']=pd.to_datetime(df['Show_Date'])
df['Booking_Date']=pd.to_datetime(df['Booking_Date'])
df['Booking_Lag'] = (df['Show_Date'] - df['Booking_Date']).dt.days

Added Revenue_Category ( Low  Total_Amount < 500) (Medium  500–1500) (High  > 1500)

In [ ]:
def revenue_category(x):
    if x < 500:
        return 'Low'
    elif x <= 1500:
        return 'Medium'
    else:
        return 'High'

df['Revenue_Category'] = df['Total_Amount'].apply(revenue_category)

Added Customer_Type

In [ ]:
# counting how many times each Customer_ID appears
counts = df['Customer_ID'].value_counts()

# createing column using map
df['Customer_Type'] = df['Customer_ID'].map(counts)

# replaceing numbers with labels
df.loc[df['Customer_Type'] == 1, 'Customer_Type'] = 'New'
df.loc[df['Customer_Type'] != 'New', 'Customer_Type'] = 'Returning'

/tmp/ipython-input-2852522558.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'New' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['Customer_Type'] == 1, 'Customer_Type'] = 'New'

Added Is_Weekend_Show

In [ ]:
# get day number (Mon=0, Sun=6)
df['Day_Number'] = df['Show_Date'].dt.dayofweek

# default value
df['Is_Weekend_Show'] = 'No'

# set weekend as Yes
df.loc[df['Day_Number'] >= 5, 'Is_Weekend_Show'] = 'Yes'

# optional: remove helper column
df.drop(columns='Day_Number', inplace=True)

Encodeing Payment_Status

In [ ]:
df['Payment_Status'] = df['Payment_Status'].fillna('Pending')

In [ ]:
df['Payment_Status_Encoded'] = df['Payment_Status'].map({
    'Paid': 1,
    'Pending': 2,
    'Failed': 3
})

Standardizeing all string columns

In [ ]:
string_cols = df.select_dtypes(include='object').columns

for i in string_cols:
    df[i] = df[i].astype(str).str.strip().str.title()

Extracting Show_Month and Show_Year

In [ ]:
df['Show_Month'] = df['Show_Date'].dt.month
df['Show_Year'] = df['Show_Date'].dt.year

Converting all Date columns to YYYY-MM-DD

In [ ]:
date_cols = ['Show_Date', 'Booking_Date']

for i in date_cols:
    df[i] = df[i].dt.strftime('%Y-%m-%d')

In [ ]:
df[['Net_Amount', 'Booking_Lag', 'Revenue_Category',
    'Customer_Type', 'Is_Weekend_Show',
    'Show_Month', 'Show_Year']]

,Net_Amount,Booking_Lag,Revenue_Category,Customer_Type,Is_Weekend_Show,Show_Month,Show_Year
1,4028.7510,24,High,New,No,1,2021
7,1118.3500,12,Medium,New,No,5,2023
9,2448.4275,20,High,New,Yes,5,2019
10,1661.3030,29,High,New,No,5,2022
13,1035.3765,16,Medium,New,No,6,2019
...,...,...,...,...,...,...,...
9970,709.1560,12,Medium,New,Yes,10,2025
9975,691.6400,4,Medium,New,No,10,2023
9981,525.0900,18,Medium,New,Yes,10,2021
10037,2263.6980,29,High,New,No,6,2023
10042,1435.6260,4,Medium,New,Yes,11,2023

Sorting / Aggregation

Top 5 movies by total revenue

In [ ]:
f1 = df.groupby('Movie_Title')['Total_Amount'].sum() \
       .sort_values(ascending=False) \
       .head(5)
f1

Movie_Title
Hidden Truths        227408.71
The Last Frontier    224703.10
Untitled             224412.09
The Silent Echo      222583.36
Broken Strings       215054.93
Name: Total_Amount, dtype: float64

Top 5 theatres by total bookings

In [ ]:
f2 = df.groupby('Theatre')['Booking_ID'].count() \
       .sort_values(ascending=False) \
       .head(5)
f2

Theatre
Inox Mall        243
Pvr Phoenix      242
Regal Cinema     238
Grand Theatre    232
Not Assigned     214
Name: Booking_ID, dtype: int64

Cities with the highest ticket sales

In [ ]:
f3 = df.groupby('City')['Quantity'].sum() \
       .sort_values(ascending=False)
f3

City
Mumbai       415.0
Delhi        395.0
Pune         393.0
Kolkata      383.0
Bengaluru    382.0
Hyderabad    379.0
Chennai      377.0
Ahmedabad    376.0
Unknown      354.0
Name: Quantity, dtype: float64

Average ticket price per movie

In [ ]:
f4 = df.groupby('Movie_Title')['Price'].mean()
f4

Movie_Title
Broken Strings       866.758305
Final Alarm          768.333525
Hidden Truths        811.674926
House Of Tricks      759.736800
Love & Pixels        871.356228
Midnight Sonata      709.613214
Ocean'S Whisper      814.237197
Space Riders         797.755246
The Last Frontier    850.584380
The Silent Echo      859.156050
Untitled             819.230625
Name: Price, dtype: float64

Average feedback score per movie

In [ ]:
f5 = df.groupby('Movie_Title')['Feedback_Score'].mean()
f5

Movie_Title
Broken Strings       3.118644
Final Alarm          3.122951
Hidden Truths        3.000000
House Of Tricks      2.960000
Love & Pixels        3.017544
Midnight Sonata      3.042857
Ocean'S Whisper      3.174242
Space Riders         3.131148
The Last Frontier    3.041322
The Silent Echo      2.974790
Untitled             3.031250
Name: Feedback_Score, dtype: float64

Most frequently used Payment_Mode

In [ ]:
f6 = df['Payment_Mode'].value_counts().head(1)
f6

Payment_Mode
Card    404
Name: count, dtype: int64

Most common Seat_Type

In [ ]:
f7 = df['Seat_Type'].value_counts().head(1)
f7

Seat_Type
Regular    556
Name: count, dtype: int64

Customers who spent the most overall

In [ ]:
f8 = df.groupby('Customer_ID')['Total_Amount'].sum() \
       .sort_values(ascending=False) \
       .head(5)
f8

Customer_ID
Cust26379    5991.18
Cust80594    5808.60
Cust18629    5734.54
Cust42130    5635.86
Cust42395    5596.82
Name: Total_Amount, dtype: float64

Average discount per theatre

In [ ]:
f9 = df.groupby('Theatre')['Discount'].mean()
f9

Theatre
Cinepolis Plaza    18.629808
Grand Theatre      16.896552
Inox Mall          18.539095
Not Assigned       17.172897
Pvr Phoenix        17.417355
Regal Cinema       17.310924
Name: Discount, dtype: float64

Total revenue per Booking_Channel

In [ ]:
f10 = df.groupby('Booking_Channel')['Total_Amount'].sum()
f10

Booking_Channel
Box Office     383094.95
Nan            392525.07
Online         833641.10
Third Party    327684.35
Third-Party    368059.25
Name: Total_Amount, dtype: float64

Identifying customers with multiple email IDs

In [ ]:
g1 = df.groupby('Customer_ID')['Email'].nunique().reset_index()
g1 = g1[g1['Email'] > 1]
g1

Empty DataFrame
Columns: [Customer_ID, Email]
Index: []

Fixing inconsistent casing in Customer_Name

In [ ]:
df['Customer_Name'] = df['Customer_Name'].str.title()

Replaceing missing numeric values

In [ ]:
df['Price'] = df['Price'].fillna(df['Price'].median())
df['Quantity'] = df['Quantity'].fillna(df['Quantity'].median())

Removeing leading/trailing spaces in all text columns

In [ ]:
text_cols = df.select_dtypes(include='object').columns

for i in text_cols:
    df[i] = df[i].str.strip()

Identifying invalid date formats in Show_Date

In [ ]:
invalid_dates = pd.to_datetime(df['Show_Date'], errors='coerce').isna()
df[invalid_dates]

Empty DataFrame
Columns: [Order_ID, Customer_ID, Customer_Name, Email, Phone, Movie_Title, Theatre, City, Show_Date, Show_Time, Booking_Date, Seat_Type, Quantity, Price, Discount, Total_Amount, Payment_Mode, Payment_Status, Booking_Channel, Seat_Numbers, Feedback_Score, Remarks, Sales_Agent, Is_Refunded, Booking_ID, Screen, Ticket_Type, Promo_Code, Loyalty_Points, Show_DateTime, Net_Amount, Booking_Lag, Revenue_Category, Customer_Type, Is_Weekend_Show, Payment_Status_Encoded, Show_Month, Show_Year]
Index: []

[0 rows x 38 columns]

Validateing Total_Amount ≈ calculated amount

In [ ]:
df['Calculated_Amount'] = df['Price'] * df['Quantity'] * (1 - df['Discount'] / 100)

g6 = df[abs(df['Total_Amount'] - df['Calculated_Amount']) > 5]
g6

,Order_ID,Customer_ID,Customer_Name,Email,Phone,Movie_Title,Theatre,City,Show_Date,Show_Time,...,Show_DateTime,Net_Amount,Booking_Lag,Revenue_Category,Customer_Type,Is_Weekend_Show,Payment_Status_Encoded,Show_Month,Show_Year,Calculated_Amount
1,Ord107869,Cust29808,Ravi Kumar,Ravi606@Example.Com,Nan,Midnight Sonata,Grand Theatre,Kolkata,2021-01-21,16:00,...,2021-01-21 16:00:00,4028.7510,24,High,New,No,2,1,2021,4028.7510
7,Ord101540,Cust50278,Amit Sharma,Amit4@Example.Com,Nan,The Last Frontier,Grand Theatre,Mumbai,2023-05-26,12:15,...,2023-05-26 12:15:00,1118.3500,12,Medium,New,No,2,5,2023,1118.3500
9,Ord105390,Cust40046,Ravi Kumar,Ravi261@Example.Com,+919559780800,Broken Strings,Inox Mall,Bengaluru,2019-05-18,12:30,...,2019-05-18 12:30:00,2448.4275,20,High,New,Yes,2,5,2019,2448.4275
10,Ord103057,Cust60658,John Doe,John630@Example.Com,+918220598141,Ocean'S Whisper,Cinepolis Plaza,Unknown,2022-05-30,22:45,...,2022-05-30 22:45:00,1661.3030,29,High,New,No,3,5,2022,1661.3030
13,Ord104148,Cust92060,Unknown,User115@Example.Com,Nan,House Of Tricks,Not Assigned,Chennai,2019-06-13,14:30,...,2019-06-13 14:30:00,1035.3765,16,Medium,New,No,2,6,2019,1035.3765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9940,Ord104979,Cust66325,John Doe,John255@Example.Com,+919803315121,Midnight Sonata,Regal Cinema,Chennai,2023-01-02,21:45,...,2023-01-02 21:45:00,1543.0800,10,High,New,No,3,1,2023,1543.0800
9970,Ord105373,Cust47391,Priya Singh,Priya602@Example.Com,98765 43210,The Last Frontier,Pvr Phoenix,Hyderabad,2025-10-18,15:45,...,2025-10-18 15:45:00,709.1560,12,Medium,New,Yes,3,10,2025,709.1560
9975,Ord105848,Cust81841,John Doe,John405@Example.Com,+919546051408,Midnight Sonata,Grand Theatre,Unknown,2023-10-10,14:15,...,2023-10-10 14:15:00,691.6400,4,Medium,New,No,2,10,2023,691.6400
9981,Ord104039,Cust83920,Unknown,User133@Example.Com,+916106815526,Hidden Truths,Grand Theatre,Ahmedabad,2021-10-17,21:45,...,2021-10-17 21:45:00,525.0900,18,Medium,New,Yes,2,10,2021,525.0900
10042,Ord104225,Cust58196,Ravi Kumar,Noemail@Example.Com,12345,The Silent Echo,Inox Mall,Delhi,2023-11-18,15:00,...,2023-11-18 15:00:00,1435.6260,4,Medium,New,Yes,2,11,2023,1435.6260

Detecting & correcting swapped Booking_Date and Show_Date

In [ ]:
swapped = df['Booking_Date'] > df['Show_Date']

df.loc[swapped, ['Booking_Date', 'Show_Date']] = \
df.loc[swapped, ['Show_Date', 'Booking_Date']].values

Detecting outliers in Price using IQR

In [ ]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1

g8 = df[(df['Price'] < Q1 - 1.5 * IQR) | (df['Price'] > Q3 + 1.5 * IQR)]
g8

Empty DataFrame
Columns: [Order_ID, Customer_ID, Customer_Name, Email, Phone, Movie_Title, Theatre, City, Show_Date, Show_Time, Booking_Date, Seat_Type, Quantity, Price, Discount, Total_Amount, Payment_Mode, Payment_Status, Booking_Channel, Seat_Numbers, Feedback_Score, Remarks, Sales_Agent, Is_Refunded, Booking_ID, Screen, Ticket_Type, Promo_Code, Loyalty_Points, Show_DateTime, Net_Amount, Booking_Lag, Revenue_Category, Customer_Type, Is_Weekend_Show, Payment_Status_Encoded, Show_Month, Show_Year, Calculated_Amount]
Index: []

[0 rows x 39 columns]

Identifying invalid Loyalty_Points

In [ ]:
df['Loyalty_Points'] = df['Loyalty_Points'].fillna(0)

In [ ]:
g9 = df[(df['Loyalty_Points'] < 0) | (df['Loyalty_Points'] > 1000)]
g9

Empty DataFrame
Columns: [Order_ID, Customer_ID, Customer_Name, Email, Phone, Movie_Title, Theatre, City, Show_Date, Show_Time, Booking_Date, Seat_Type, Quantity, Price, Discount, Total_Amount, Payment_Mode, Payment_Status, Booking_Channel, Seat_Numbers, Feedback_Score, Remarks, Sales_Agent, Is_Refunded, Booking_ID, Screen, Ticket_Type, Promo_Code, Loyalty_Points, Show_DateTime, Net_Amount, Booking_Lag, Revenue_Category, Customer_Type, Is_Weekend_Show, Payment_Status_Encoded, Show_Month, Show_Year, Calculated_Amount]
Index: []

[0 rows x 39 columns]

Detecting blank / whitespace-only cells and replaceing with NaN

In [ ]:
import numpy as np
df = df.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
df.isna().sum()

Order_ID                  0
Customer_ID               0
Customer_Name             0
Email                     0
Phone                     0
Movie_Title               0
Theatre                   0
City                      0
Show_Date                 0
Show_Time                 0
Booking_Date              0
Seat_Type                 0
Quantity                  0
Price                     0
Discount                  0
Total_Amount              0
Payment_Mode              0
Payment_Status            0
Booking_Channel           0
Seat_Numbers              0
Feedback_Score            0
Remarks                   0
Sales_Agent               0
Is_Refunded               0
Booking_ID                0
Screen                    0
Ticket_Type               0
Promo_Code                0
Loyalty_Points            0
Show_DateTime             0
Net_Amount                0
Booking_Lag               0
Revenue_Category          0
Customer_Type             0
Is_Weekend_Show           0
Payment_Status_Encoded    0
Show_Month                0
Show_Year                 0
Calculated_Amount         0
dtype: int64

In [ ]:
from google.colab import files
df.to_excel("cleaned_file.xlsx", index=False)
files.download("cleaned_file.xlsx")